extends layout

block content
  #nav
    img(src='/images/logo.png')
    span Lab Manager Tools
    span Login 
      a(href="/auth/google") Google 
      a(href="/auth/facebook") Facebook
  #cal